{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ config.0 }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.css" />
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/CryptoJS.js' %}"></script>
    <!-- Codemirror 和 marked 依赖 -->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/markdown/markdown.js' %}"></script>
    <script src="{% static 'codemirror/addon/mode/overlay.js' %}"></script>
    <script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
    <script src="{% static 'codemirror/mode/gfm/gfm.js' %}"></script>
    <script src="{% static 'marked/lib/marked.js' %}"></script>

    <!-- HTML 编辑器的 CSS 与 JavaScript -->
    <link rel="stylesheet" href="{% static 'css/components/htmleditor.css' %}">
    <script src="{% static 'js/components/htmleditor.js' %}"></script> {% block beforehead %}{# 在这里写一下js脚本什么的 #}{% endblock %}
    <style type="text/css">
        p {
            font-size: 1.1em;
        }

        a {
            font-size: 1.1em;
        }

        span {
            font-size: 1.1em;
        }
    </style>

</head>

<body>
    <div class="uk-grid" style="padding-left: 20px">
        <div class="uk-width-medium-1-4 uk-hidden-small" style="margin-top: 20px;">
            {% block menu %}{# PC端左边的菜单栏 #} {% endblock %}
            <div style="height: 180px; background-color: gray "></div>
            <div class="uk-container-center uk-text-center">
                <img src="{{ config.3 }}" alt="头像" class="large-profilePhoto uk-border-circle" style="margin: -70px 0 0 0 ">
            </div>
            <div class="uk-container-center uk-text-center">
                <h2 class="uk-h2">
                    <a href="#">{{ config.1 }}</a>
                </h2>
            </div>
            <div class="uk-container-center uk-text-center">
                <p>{{ config.2 }}</p>
            </div>
            <div class="uk-container-center uk-text-center">
                <ul class="uk-nav">
                    <li>
                        <a href="{{ article.get_absolute_url }}/blog/">
                            <i class="uk-icon-home"></i> 主页 </a>
                    </li>
                    <li>
                        <a href="blogsByColumn?column=博客"> 博客 </a>
                    </li>
                    <li>
                        <a href="blogsByColumn?column=随笔"> 随笔 </a>
                    </li>
                    <li>
                        <a href="blogsByColumn?column=others"> 杂谈 </a>
                    </li>
                </ul>
            </div>
            <div class="uk-container-center uk-text-center">
                <br>
                <p>
                    <a href="{{ article.get_absolute_url }}/blog/">所有文章</a>/
                    <a id="showReference">友联</a>
                    <!-- 触发模态对话框的锚 -->
                    <a href="#aboutMe" data-uk-modal>关于我</a>
                </p>
            </div>
            <br>
            <br>
            <div class="uk-container-center uk-text-center">
                <p>
                    <a href="{% static 'img/qq.jpg' %}" target="_blank" style="color: cadetblue">
                        <i class="uk-icon-justify uk-icon-small uk-icon-qq"></i>
                    </a>
                    &ensp;
                    <a href="https://www.facebook.com/profile.php?id=100011073490738" style="color: cadetblue">
                        <i class="uk-icon-justify uk-icon-small uk-icon-facebook"></i>
                    </a>
                    &ensp;
                    <a href="{% static 'img/weibo.jpg' %}" target="_blank" style="color: cadetblue">
                        <i class="uk-icon-justify uk-icon-small uk-icon-weibo"></i>
                    </a>
                    &ensp;
                    <a href="https://github.com/fslong520" target="_blank" style="color: cadetblue">
                        <i class="uk-icon-justify uk-icon-small uk-icon-github"></i>
                    </a>
                </p>

            </div>
        </div>
        {# 手机端顶部的菜单栏 #}
        <nav class="uk-navbar uk-visible-small uk-hidden-medium uk-width-1-1" style="padding: 0px">
            <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="">
                    <a class="uk-navbar-toggle uk-display-inline"></a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                        <ul class="uk-nav uk-nav-navbar" style="padding-left: 20px">
                            <li>
                                <ul class="uk-nav uk-nav-navbar">
                                    <li>
                                        <a href="{{ article.get_absolute_url }}/blog/"> 主页 </a>
                                    </li>
                                    <li>
                                        <a href="blogsByColumn?column=博客"> 博客 </a>
                                    </li>
                                    <li>
                                        <a href="blogsByColumn?column=随笔"> 随笔 </a>
                                    </li>
                                    <li>
                                        <a href="blogsByColumn?column=others"> 杂谈 </a>
                                    </li>
                                    <li>
                                        <hr class="uk-list-divider">
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="uk-nav uk-nav-navbar">
                                    <li>
                                        <a href="{{ article.get_absolute_url }}/blog/">所有文章</a>
                                    </li>
                                    <li>
                                        <a id="showReference2">友联</a>
                                    </li>
                                    <li>
                                        <!-- 触发模态对话框的锚 -->
                                        <a href="#aboutMe" data-uk-modal>关于我</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
            <div class="uk-navbar-center uk-navbar-content uk-text-large">{{ config.0 }}</div>
        </nav>
        <div class="uk-width-medium-3-4" style="padding:20px;display: none" id="reference">
            <div class="uk-width-1-1 uk-text-center uk-list-space">
                <h2>参考文献</h2>
                <br>
                <ol class="uk-text-left uk-list uk-list-line">
                    <li>
                        <a href="http://www.w3school.com.cn/jquery/jquery_hide_show.asp">1、jQuery 效果 - 隐藏和显示</a>
                    </li>
                    <li>
                        <a href="http://www.w3school.com.cn/jquery/event_click.asp">2、jQuery 事件 - click() 方法</a>
                    </li>
                    <li>
                        <a href="www.getuikit.net/docs/base.html">3、uikit中文文档</a>
                    </li>
                    <li>
                        <a href="http://www.cnblogs.com/isbasic/p/5006024.html">4、debian添加删除用户 </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="uk-width-medium-3-4" style="padding-left: 20px" id="contentDiv">
            {% if message %}
            <div class="uk-alert uk-alert-success uk-text-center" style="margin-right: 20px;margin-top: 20px" data-uk-alert="">
                <a class="uk-alert-close uk-close " style="margin-top: -10px"></a>{{ message }} </div>
            {% endif %} {% block content %} {# 正文部分 #} {% endblock %}
        </div>
        <!-- 模态对话框 -->
        <div id="aboutMe" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <div class="uk-modal-header">
                    <h3>关于我</h3>
                </div>
                <span>&emsp;&emsp;一个野生码农，正寻求转行机会，同时也希望我的博客能帮到你。下面有我的联系方式，如果有需求请联系我！</span>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#showReference").click(function () {
                $("#reference").slideToggle()
                $("#contentDiv").slideToggle()
            })
            $("#showReference2").click(function () {
                $("#reference").slideToggle()
                $("#contentDiv").slideToggle()
            })
        })

    </script>
</body>

</html>