{% extends '__base__.html' %}{% block content %}

<div style="height: 600px; margin-right: 20px; ">
    {% for article in articles %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary-hover" style="margin-top: 20px;">
        <article class="uk-article">
            <h1 class="uk-article-title uk-panel-title">
                <a href="#">{{ article.title }}</a>
            </h1>
            <p class="uk-article-meta">由
                <a>
                    <strong>{{ article.user }}</strong>
                </a>于{{ article.pubTime | date:"F j, Y"}}发表在
                <a>
                    <strong>{{ article.column }}</strong>
                </a>栏目中。</p>
            <p>{{ article.content | safe }}</p>
            <br>
            <form action="" method="post" class="uk-form">
                <fieldset data-uk-margin>
                    <legend>发表评论</legend>
                    <input type="text" hidden="hidden" value="{{ article.title }}">
                    <div class="uk-grid">
                        <div class="uk-width-4-5">
                            <textarea name="commentText" placeholder="请输入评论" class="uk-width-1-1" style="height: 50px;"></textarea>
                        </div>
                        <div class=" uk-width-1-5">
                            <input type="submit" value="点击评论" class="uk-input" style="height: 50px;">
                        </div>
                    </div>
                    {% csrf_token %}
                </fieldset>
            </form>
            <hr class="uk-divider-small"> {% for comment in comment %}
            <ul class="uk-comment-list">
                <li>
                    <article class="uk-comment">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" style="max-width: 100px;" src="{{ comment.user.avatar }}{{ config.3 }}" alt="头像">
                            <div class="uk-comment-meta">|发表于{{ comment.pubTime }}2018年6月4日</div>
                            <hr class="uk-divider-small">
                            <div class="uk-comment-body uk-text-bottom">评论测试!</div>
                        </header>
                    </article>
                </li>
            </ul>
            {% endfor %}

        </article>
    </div>
</div>

{% endfor %}{% endblock %}