{% extends '__base__.html' %} {% block content %}
<div style="height: 600px; margin-right: 20px;">
    {% for article in articles %}
    <div class="uk-panel uk-panel-box uk-panel-box-primary-hover" style="margin-top: 20px;">
        <article class="uk-article">
            <h1 class="uk-article-title uk-panel-title">
                <a href="{{ article.get_absolute_url }}/blog/{{ article.id }}" style="font-size: 80%">{{ article.title }}</a>
            </h1>
            <p class="uk-article-meta">由管理员
                <a>
                    <strong>{{ article.user }}</strong>
                </a>于{{ article.pubTime | date:"Y年n月j日 "}}发表在
                <a href="blogsByColumn?column={{ article.column.name }}">
                    <strong>{{ article.column }}</strong>
                </a>栏目中。</p>
            <p>{{ article.content | safe }}</p>
            <div class="uk-text-right">
                <a style="color:cornflowerblue" href="{{ article.get_absolute_url }}/blog/{{ article.id }}">
                    <i class="uk-text-large">继续阅读</i>
                </a>
            </div>
        </article>
    </div>
    {% endfor %}
    <div class="uk-text-center">
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a>本作品采用
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议
            </a>进行许可。
            <ul class="uk-pagination" hidden="hidden">
                <li>
                    <a href="">
                        <i class="uk-icon-angle-double-left"></i>
                    </a>
                </li>
                <li class="uk-active">
                    <span>1</span>
                </li>
                <li class="uk-disabled">
                    <span>2</span>
                </li>
                <li>
                    <a href="">
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </p>
    </div>


</div>
{% endblock %}