{% extends '__base__.html' %} {% block content %}
<div class="uk-grid">
    <div class="uk-width-medium-1-4"></div>
    <form class="uk-form uk-text-center uk-width-medium-1-2" onsubmit="return false">
        <fieldset>
            {% if changePassword %}
            <div class="uk-modal-header">
                <p class="uk-text-large uk-text-center" id="tips">修改密码</p>
            </div>
            {% endif %}
            {% if changeProfilePhoto %}
            <div class="uk-modal-header">
                <p class="uk-text-large uk-text-center" id="tips">修改头像</p>
            </div>
            {% endif %}
            <div class="uk-width-1-1">
                <div class="uk-form-row">
                    <input type="text" name="username" placeholder="请输入你的用户名！" class="uk-width-1-1 uk-text-large">
                </div>
                <div class="uk-form-row">
                    <input type="password" name="password" placeholder="在这里填写密码，千万不要告诉别人！" class="uk-width-1-1 uk-text-large">
                </div>
                {% if changePassword %}
                <div class="uk-form-row">
                    <input type="password" name="newPassword" placeholder="在这里填入新密码，当然千万不要告诉别人！" class="uk-width-1-1 uk-text-large">
                </div>
                <div class="uk-form-row">
                    <input type="password" name="newPassword0" placeholder="在这里重复新密码，当然千万不要告诉别人！" class="uk-width-1-1 uk-text-large">
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-primary" id="changePassword">修改密码</button>
                </div>
                {% endif %} 
                {% if changeProfilePhoto %}
                <div class="uk-form-row">
                    <input type="text" name="newProfilePhoto" placeholder="在这里填入头像URL" class="uk-width-1-1 uk-text-large">
                </div>                
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-primary" id="changeProfilePhoto">修改头像</button>
                </div>
                {% endif %}                    
            </div>
        </fieldset>
    </form>
</div>
<script>
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    });    
    $("#changePassword").click(function () {
        let username = $("input[name='username']").val();
        let password = $("input[name='password']").val();
        let newPassword = $("input[name='newPassword']").val();
        let newPassword0 = $("input[name='newPassword0']").val();
        
        if (!username) {
            alert("用户名不能为空!");
            return false;
        }
        if (password.length < 6) {
            alert('密码长度至少为6个字符。');
            return false;
            //return $form.showFormError('密码长度至少为6个字符。');
        }
        if(password==newPassword){
            alert("新密码怎某可以和旧密码相同呢！")
            return false;
        }
        if(newPassword!=newPassword0){
            alert("两次输入的密码不一致哦，请重新输入！")
            return false;
        }
        username = username.trim().toLowerCase();
        password = CryptoJS.SHA1(username + ':' + password).toString();
        newPassword=CryptoJS.SHA1(username + ':' + newPassword).toString();
        $.ajax({
            url: "/blog/changePassword",
            type: "POST",
            data: {
                "username": username,
                "password": password,
                "newPassword":newPassword,
            },
            success: function (data1) {
                if (data1) {
                    alert("密码修改成功，点击确定跳转主页！");
                    window.location = "/blog/";
                } else {
                    alert("认证失败，请重试！")
                }                
            }
        })
    })


    $("#changeProfilePhoto").click(function () {
        let username = $("input[name='username']").val();
        let password = $("input[name='password']").val();
        let newProfilePhoto = $("input[name='newProfilePhoto']").val();
        if (!username) {
            alert("用户名不能为空!");
            return false;
        }
        if (password.length < 6) {
            alert('密码长度至少为6个字符。');
            return false;
            //return $form.showFormError('密码长度至少为6个字符。');
        }
        username = username.trim().toLowerCase();
        password = CryptoJS.SHA1(username + ':' + password).toString();
        $.ajax({
            url: "/blog/changeProfilePhoto",
            type: "POST",
            data: {
                "username": username,
                "password": password,
                "newProfilePhoto":newProfilePhoto,
            },
            success: function (data1) {
                if (data1) {
                    alert("头像修改成功，点击确定跳转主页！");
                    window.location = "/blog/";
                } else {
                    alert("认证失败，请重试！")
                }
            }
        })
    })
</script> {% endblock %}