<div class="uk-width-medium-3-4" style="padding:20px;display: none" id="reference">
        <div class="uk-width-1-1 uk-text-center uk-list-space">
            <h2>参考文献</h2>
            <br>
            <ol class="uk-list uk-list-striped uk-text-left">
                <li>
                    <a href="http://www.w3school.com.cn/jquery/jquery_hide_show.asp">1、jQuery 效果 - 隐藏和显示</a>
                </li>
                <li>
                    <a href="http://www.w3school.com.cn/jquery/event_click.asp">2、jQuery 事件 - click() 方法</a>
                </li>
                <li>
                    <a href="www.getuikit.net/docs/base.html">3、uikit中文文档</a>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/isbasic/p/5006024.html">4、debian添加删除用户 </a>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/shaohuixia/p/5503521.html">5、使用git做服务器端代码的部署 </a>
                </li>
                <li>
                    <a href="https://www.cnblogs.com/sss4/p/7071183.html">6、Django之模板系统 </a>
                </li>

                
            </ol>
        </div>
    </div>