{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebAPPs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <!-- UIkit CSS -->
    <link href="https://cdn.bootcss.com/uikit/3.0.0-rc.3/css/uikit.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webapps/css/weather.css' %}">

    <!-- UIkit JS -->
    <script src="https://cdn.bootcss.com/uikit/3.0.0-rc.3/js/uikit.min.js"></script>
    <script src="https://cdn.bootcss.com/uikit/3.0.0-rc.3/js/uikit-icons.min.js"></script>

</head>

<body style=" width: 100%;height: 100%; padding: 0px;margin: 0px;">

    <div class="uk-grid uk-text-center uk-width-1-1" id="navbar" style="position: fixed;left: 0px;top: 0px; z-index: 1000;margin-left: 0px">
        <nav class="uk-width-1-1 uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="#">
                            <span class="uk-text-bold" style="font-size: 1.5em;">WebAPPs</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a style="color: black" uk-toggle="target: #menuDiv">
                            <span uk-icon="icon: menu ;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <script>
            $(function () {
                var text1 =
                    '<div class="uk-alert-success uk-text-center" uk-alert style="margin: 0px" id="intro" style="display: none"><a class="uk-alert-close" uk-close></a><p>这里主要是平时写的一些小型程序归类，以此来记录学习历程，其中包括比如爬虫、api等，万一有小伙伴需要，也可在此处查找使用。</p></div>'
                $("#showIntro").click(function () {
                    UIkit.notification({
                        message: '<p style="font-size:0.8em;">&emsp;&emsp;这里主要是平时写的一些小型程序归类，以此来记录学习历程，其中包括比如爬虫、api等，万一有小伙伴需要，也可在此处查找使用。</p>',
                        status: 'success',
                        pos: 'top-center',
                        timeout: 5000
                    });
                });
            });
        </script>
    </div>
    <div id="menuDiv" style="max-width: 200px;" uk-offcanvas="mode: push;">
        <div class="uk-offcanvas-bar" style=" background-color: white">
            <ul class="uk-nav uk-nav-default">
                <li>
                    <a href="../blog/" style="color: darkslategrey">个人博客</a>
                </li>
                <li>
                    <a href="//fslong.xyz/aboutme.html" style="color: darkslategrey">个人简历</a>
                </li>
                <li>
                    <a href="//github.com/fslong520/mybgi/" style="color: darkslategrey">下载源码</a>
                </li>
                <li>
                    <a id="showIntro" style="color: darkslategrey">简要说明</a>
                </li>
                <li style="color: black">应用目录</li>
                <li class="uk-parent">
                    <ul class="uk-nav-sub">
                        <li>
                            <a href="#videoDiv" style="color: darkslategrey" uk-scroll>1、播放视频</a>
                        </li>
                        <li>
                            <a href="#weatherDiv" style="color: darkslategrey" uk-scroll>2、天气</a>
                        </li>
                        <li>
                            <a href="#bingPicDiv" style="color: darkslategrey" uk-scroll>3、必应美图</a>
                        </li>
                        <li>
                            <a href="#byte2strDiv" style="color: darkslategrey" uk-scroll>4、字符串操作（待续）</a>
                        </li>
                        <li>
                            <a href="#bookDiv" style="color: darkslategrey" uk-scroll>5、书籍搜索</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div style="padding-left: 20px;padding-right: 20px; padding-top: 20px; margin-top: 80px;">
        <div class="uk-child-width-1-1@s uk-grid-divider" uk-grid style="overflow: hidden;">
            <div id="videoDiv" class="uk-grid-item-match">
                <!--视频解析-->
                {% include 'webapps/video.html' %}
            </div>
            <div id="weatherDiv" class="uk-grid-item-match">
                <!--天气-->
                {% include 'webapps/weather.html' %}
            </div>
            <div class="uk-grid-item-match" id="bingPicDiv">
                <!--必应美图-->
                {% include 'webapps/bingPic.html' %}
            </div>
            <div class="uk-grid-item-match" id="byte2strDiv">
                <!--字符串操作-->
                {% include 'webapps/transformStr.html' %}
            </div>
            <div class="uk-grid-item-match" id="bookDiv">
                <!--书籍搜索-->
                {% include 'webapps/books.html' %}
            </div>

        </div>
    </div>

    {% block content %} {% endblock %}
</body>

</html>